src/main/webapp/wsdl/PortaleAliceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eldasoft.it/PortaleAlice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PortaleAlice" targetNamespace="http://www.eldasoft.it/PortaleAlice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eldasoft.it/PortaleAlice/">
      <xsd:element name="InserisciImpresa">
        
                <xsd:complexType>
          
                    <xsd:sequence>

                    	<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>

                    	<xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string">
                    	</xsd:element>

                    	<xsd:element maxOccurs="1" minOccurs="1" name="denominazione" type="xsd:string">
                    	</xsd:element>
                    	<xsd:element maxOccurs="1" minOccurs="1" name="codFiscalePerControlli" type="xsd:string">
                    	</xsd:element>
                    	<xsd:element maxOccurs="1" minOccurs="1" name="partitaIVAPerControlli" nillable="true" type="xsd:string">
                    	</xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
      <xsd:element name="InserisciImpresaResponse">
        
                <xsd:complexType>
          
                    <xsd:sequence>
          	

                        <xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="EsitoOutType">
      	
                <xsd:sequence>
      		
                    <xsd:element maxOccurs="1" minOccurs="1" name="esitoOk" type="xsd:boolean">
      		</xsd:element>
                    
                    <xsd:element maxOccurs="1" minOccurs="0" name="codiceErrore" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
      <xsd:complexType name="RisultatoStringaOutType">
      	
                <xsd:sequence>
      		                    <xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="xsd:string">
      		</xsd:element>
                    
                    <xsd:element maxOccurs="1" minOccurs="0" name="codiceErrore" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
      <xsd:element name="EliminaImpresa">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="EliminaImpresaResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AggiornaImpresa">
         <xsd:complexType>
             <xsd:sequence>
             	<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
             	<xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string">
             	</xsd:element>
             	<xsd:element maxOccurs="1" minOccurs="1" name="denominazione" type="xsd:string">
             	</xsd:element>
             	<xsd:element maxOccurs="1" minOccurs="1" name="codFiscalePerControlli" type="xsd:string">
             	</xsd:element>
             	<xsd:element maxOccurs="1" minOccurs="1" name="partitaIVAPerControlli" nillable="true" type="xsd:string">
             	</xsd:element>
             </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
      <xsd:element name="AggiornaImpresaResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AttivaImpresa">
                <xsd:complexType>
          
                    <xsd:sequence>
          	
                        <xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
                        
                        

                        <xsd:element maxOccurs="1" minOccurs="1" name="denominazione" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
      </xsd:element>
      <xsd:element name="AttivaImpresaResponse">
                <xsd:complexType>
          
                    <xsd:sequence>
          	

                        <xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
                    </xsd:sequence>
                </xsd:complexType>
      </xsd:element>
      <xsd:element name="InviaMailAttivazioneImpresa">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="InviaMailAttivazioneImpresaResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUtenteDelegatoImpresa">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUtenteDelegatoImpresaResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="0" name="risultato" type="tns:RisultatoStringaOutType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AggiornaUtenteDelegatoImpresa">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="delegato" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AggiornaUtenteDelegatoImpresaResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="SincronizzaConfigurazioneMail">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="host" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="0" name="porta" nillable="true" type="xsd:int"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="protocollo" type="tns:ProtocolloMail"/>
      			<xsd:element maxOccurs="1" minOccurs="0" name="timeout" nillable="true" type="xsd:int"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="debug" nillable="true" type="xsd:boolean"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="0" name="password" nillable="true" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="mail" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="SincronizzaConfigurazioneMailResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
	<xsd:simpleType name="ProtocolloMail">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SMTP"/>
			<xsd:enumeration value="SMTPS"/>
			<xsd:enumeration value="STARTTLS"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="EsisteImpresa">
		<xsd:complexType>
			<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EsisteImpresaResponse">
		<xsd:complexType>
			<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="esiste" type="xsd:boolean"/>
      		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UploadDatasetAppalti">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element maxOccurs="1" minOccurs="1" name="anno" type="xsd:int">
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="codFiscaleStazAppaltante" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="1" name="datasetCompresso" type="xsd:base64Binary">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UploadDatasetAppaltiResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SincronizzaUnitaMisura">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="SincronizzaUnitaMisuraResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UploadRssBandi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="datasetCompresso" type="xsd:base64Binary">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UploadRssBandiResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="risultato" type="tns:EsitoOutType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InserisciImpresaRequest">
    <wsdl:part element="tns:InserisciImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InserisciImpresaResponse">
    <wsdl:part element="tns:InserisciImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EliminaImpresaRequest">
  	<wsdl:part element="tns:EliminaImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EliminaImpresaResponse">
  	<wsdl:part element="tns:EliminaImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AggiornaImpresaRequest">
  	<wsdl:part element="tns:AggiornaImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AggiornaImpresaResponse">
  	<wsdl:part element="tns:AggiornaImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AttivaImpresaRequest">
  	<wsdl:part element="tns:AttivaImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AttivaImpresaResponse">
  	<wsdl:part element="tns:AttivaImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InviaMailAttivazioneImpresaRequest">
  	<wsdl:part element="tns:InviaMailAttivazioneImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InviaMailAttivazioneImpresaResponse">
  	<wsdl:part element="tns:InviaMailAttivazioneImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetUtenteDelegatoImpresaRequest">
  	<wsdl:part element="tns:GetUtenteDelegatoImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetUtenteDelegatoImpresaResponse">
  	<wsdl:part element="tns:GetUtenteDelegatoImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AggiornaUtenteDelegatoImpresaRequest">
  	<wsdl:part element="tns:AggiornaUtenteDelegatoImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AggiornaUtenteDelegatoImpresaResponse">
  	<wsdl:part element="tns:AggiornaUtenteDelegatoImpresaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SincronizzaConfigurazioneMailRequest">
  	<wsdl:part element="tns:SincronizzaConfigurazioneMail" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SincronizzaConfigurazioneMailResponse">
  	<wsdl:part element="tns:SincronizzaConfigurazioneMailResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EsisteImpresaRequest">
  	<wsdl:part element="tns:EsisteImpresa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EsisteImpresaResponse">
  	<wsdl:part name="parameters" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="UploadDatasetAppaltiRequest">
  	<wsdl:part element="tns:UploadDatasetAppalti" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UploadDatasetAppaltiResponse">
  	<wsdl:part element="tns:UploadDatasetAppaltiResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SincronizzaUnitaMisuraRequest">
  	<wsdl:part element="tns:SincronizzaUnitaMisura" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SincronizzaUnitaMisuraResponse">
  	<wsdl:part element="tns:SincronizzaUnitaMisuraResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UploadRssBandiRequest">
  	<wsdl:part element="tns:UploadRssBandi" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UploadRssBandiResponse">
  	<wsdl:part element="tns:UploadRssBandiResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PortaleAlice">
    <wsdl:operation name="InserisciImpresa">
      <wsdl:input message="tns:InserisciImpresaRequest"/>
      <wsdl:output message="tns:InserisciImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="EliminaImpresa">
    	<wsdl:input message="tns:EliminaImpresaRequest"/>
    	<wsdl:output message="tns:EliminaImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AggiornaImpresa">
    	<wsdl:input message="tns:AggiornaImpresaRequest"/>
    	<wsdl:output message="tns:AggiornaImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AttivaImpresa">
    	<wsdl:input message="tns:AttivaImpresaRequest"/>
    	<wsdl:output message="tns:AttivaImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InviaMailAttivazioneImpresa">
    	<wsdl:input message="tns:InviaMailAttivazioneImpresaRequest"/>
    	<wsdl:output message="tns:InviaMailAttivazioneImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetUtenteDelegatoImpresa">
    	<wsdl:input message="tns:GetUtenteDelegatoImpresaRequest"/>
    	<wsdl:output message="tns:GetUtenteDelegatoImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AggiornaUtenteDelegatoImpresa">
    	<wsdl:input message="tns:AggiornaUtenteDelegatoImpresaRequest"/>
    	<wsdl:output message="tns:AggiornaUtenteDelegatoImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SincronizzaConfigurazioneMail">
    	<wsdl:input message="tns:SincronizzaConfigurazioneMailRequest"/>
    	<wsdl:output message="tns:SincronizzaConfigurazioneMailResponse"/>
    </wsdl:operation>
    <wsdl:operation name="EsisteImpresa">
    	<wsdl:input message="tns:EsisteImpresaRequest"/>
    	<wsdl:output message="tns:EsisteImpresaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UploadDatasetAppalti">
    	<wsdl:input message="tns:UploadDatasetAppaltiRequest"/>
    	<wsdl:output message="tns:UploadDatasetAppaltiResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SincronizzaUnitaMisura">
    	<wsdl:input message="tns:SincronizzaUnitaMisuraRequest"/>
    	<wsdl:output message="tns:SincronizzaUnitaMisuraResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UploadRssBandi">
    	<wsdl:input message="tns:UploadRssBandiRequest"/>
    	<wsdl:output message="tns:UploadRssBandiResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaleAliceSOAP" type="tns:PortaleAlice">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="InserisciImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/InserisciImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="EliminaImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/EliminaImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="AggiornaImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/AggiornaImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="AttivaImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/AttivaImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="InviaMailAttivazioneImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/InviaMailAttivazioneImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetUtenteDelegatoImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/GetUtenteDelegatoImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="AggiornaUtenteDelegatoImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/AggiornaUtenteDelegatoImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="EsisteImpresa">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/EsisteImpresa"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="SincronizzaConfigurazioneMail">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/SincronizzaConfigurazioneMail"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="UploadDatasetAppalti">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/UploadDatasetAppalti"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="SincronizzaUnitaMisura">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/SincronizzaUnitaMisura"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="UploadRssBandi">
  		<soap:operation soapAction="http://www.eldasoft.it/PortaleAlice/UploadRssBandi"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaleAlice">
    <wsdl:port binding="tns:PortaleAliceSOAP" name="PortaleAliceSOAP">
      <soap:address location="http://localhost:8080/PortaleAppalti/services/PortaleAliceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
